*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-link:link{
    text-decoration: none;
    color: black;
}


.botao-link{
    background-color: #E74C3C;  
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    width: 126px;
    height: 29px;
}

.menu{
    background-color: #ffffff69;
    padding: 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.menu > ul{
    list-style: none;
    
}

.menu > ul > li{
    display: inline;
    padding-right: 40px;
    text-align: center;
}

.apresentacao{
    position: relative;
}

.apresentacao > img{
    width: 100%;
}

.apresentacao .faixa1{
    background-color: rgba(255, 210, 0, 0.7);
    position: absolute;
    top: 180px;
    height: 157px;
    width: 100%;
}

.apresentacao .faixa1 > h1{
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.apresentacao .faixa2{
    background-color: rgba(255, 210, 0, 0.7);
    position: absolute;
    top: 370px;
    right: 700px;
    height: 157px;
    width: 482px;
}

.apresentacao .faixa2 > h2{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.descricao > p{
    padding-left: 200px;
    padding-top: 20px;
    width: 1020px;
    line-height: 30px;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
}

.programacao{
    padding-left: 200px;
    padding-top: 50px;
}

.programacao > span{
    position: absolute;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    font-weight: 400;
}

.programacao h3{
    font-size: 22px;
}

.programacao p{
    padding-top: 20px;
    font-size: 16px;
}

.palestrantes > div{
    position: relative;
    padding-top: 80px;
}

.palestrantes .mari > p{
    font-family: "Quicksand", sans-serif;
    position: absolute ;
    right: 1400px;
    top: 65px;
}

.palestrantes .mario > p{
    font-family: "Quicksand", sans-serif;
    position: absolute ;
    right: 1470px;
    top: 65px;
}

.palestrantes .mari > h3{
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    position: absolute ;
    right: 1515px;
    top: 115px;
}

.palestrantes .mario > h4{
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    position: absolute ;
    right: 1513px;
    top: 115px;
}

.palestrantes .jose .data{
    padding-top: 60px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.palestrantes .jose > p{
    font-family: "Quicksand", sans-serif;
    position: absolute ;
    right: 1255px;
    padding-top: 40px;
}

.palestrantes .jose > h5{
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    position: absolute ;
    right: 1540px;
    top: 170px;
}

.palestrantes .jose > img{
    position: absolute;
    top: 130px; 
    right: 1640px;
}

.local{
    padding-top: 250px;
}

.local > img{
    width: 100%;
}

.local > h6{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-left: 200px;
    padding-bottom: 20px;
}

footer{
    position: relative;
    background-color: rgba(45, 55, 72, 0.8);
    height: 200px;
}

footer > p{
    color: #FFFFFF;
    padding-left: 200px;
    padding-top: 20px;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
}

footer .ifro{
    padding-left: 200px;
    padding-top: 40px;
}

footer .fslab{
    position: absolute;
    right: 1460px;
    top: 90px;
}